.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #5356b5;
  border-color: #241f90;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>span, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-brand {
  padding: 10px 10px;
  height: initial;
}

.warning_link_outline {
  color: #eea236;
  background-color: transparent;
  border-radius: 7px;
  font-weight: bold;
  border: 1.5px solid #eea236;
}