.navbar {
  margin-bottom: 10px;
  background-color: #5356b5;
  border-color: #241f90;
}

.warning_link_outline {
  color: #eea236;
  background-color: transparent;
  border-radius: 7px;
  font-weight: bold;
  border: 1.5px solid #eea236;
}

.input-group-text {
  min-width: 100px;
  justify-content: center;
}

.input-group {
  margin-bottom: 16px;
}

#join_game {
  width: 20%;
}

#answer_input {
  margin-bottom: 15px;
}

.user-box {
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
    min-height: 120px;
}
.user-box h3 {
    margin-top: 0;
}