<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sucky Trivia</title>
  <meta charset="utf-8">
  <link rel='icon' href='http://saintfactorstudios.ml/SainTfactorStudiosIP/favicon.ico' type='image/x-icon'/ >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.debug.min.js"></script>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="http://saintfactorstudios.ml/SainTfactorStudiosIP/WingedTTransparent.png" alt="Winged T" height="32" width="32"></a>
    </div>
    <div class="collapse navbar-collapse">
      <span class="nav navbar-text navbar-right">
        <a href="#" id="leave_game" class="btn btn-outline-secondary btn-sm" style="display:none;">Leave Game</a>
      </span>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-8 col-sm-offset-2 text-left"> 
      <div id="start_screen" class="game_screen">
        <h1>Welcome to Sucky Trivia</h1>
      	<input id="new_btn" type="button" value="Start New Game" />
      	<input id="join_btn" type="button" value="Join Game" />
      </div>
      <div id="gm_screen" style="display:none;" class="game_screen">
        <h1>Welcome to your game!</h1>
        <h1>Game Code: <span id="room_code" style="font-weight:bold;"></span></h1>
        <div data-bind="foreach: players">
          <div><span data-bind="text: name"></span> - <span data-bind="attr: { id: guid }"></span></div>
        </div>
      </div>
      <div id="player_connect_screen" style="display:none;" class="game_screen">
        <h1>Type in your username and room code</h1>
        <label for="player_username" style="font-weight:bold;">Username: </label><input id="player_username" name="player_username" type="text" />
        <label for="join_room_code" style="font-weight:bold;">Room Code: </label><input id="join_room_code" name="join_room_code" type="text" />
        <input id="join_game" type="button" value="Join" />
      </div>
      <div id="player_game_screen" style="display:none;" class="game_screen">
        <h1>Sucky trivia</h1>
        <input id="answer_input" type="text" />
      </div>
      </div>
    </div>
  </div>
</div>


<script src="/static/main.js"></script>
</body>
</html>
