<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sucky Trivia</title>
  <meta charset="utf-8">
  <link rel='icon' href='http://saintfactorstudios.ml/SainTfactorStudiosIP/favicon.ico' type='image/x-icon'/ >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.debug.min.js"></script>
  <script src="https://kit.fontawesome.com/2c0cefed81.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="http://saintfactorstudios.ml/SainTfactorStudiosIP/WingedTTransparent.png" alt="Winged T" height="40" width="40"></a>
    <div class="collapse navbar-collapse">
      <span class="nav navbar-text ml-auto">
        <a href="#" id="leave_game" class="btn btn-warning warning_link_outline btn-sm" role="button" style="display:none;">Leave Game</a>
      </span>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div id="left_column" class="col-sm-3 text-center"></div>
    <div class="col-sm-6 text-center"> 
      <div id="start_screen" class="game_screen">
        <h1>Welcome to Sucky Trivia</h1>
      	<input id="new_btn" type="button" class="btn btn-primary" value="Start New Game" />
      	<input id="join_btn" type="button" class="btn btn-primary" value="Join Game" />
      </div>
      <div id="gm_screen" style="display:none;" class="game_screen">
        <h1>Welcome to your game!</h1>
        <h2>Game Code: <span id="room_code" style="font-weight:bold;"></span></h2>
        <div data-bind="foreach: players" class="row">
          <div class="user-box col-xs-3">
            <h4 data-bind="text: name"></h4>
            <div data-bind="attr: { id: guid }"></div>
            <div data-bind="attr: { guid: guid }" style="display:none;margin-top:10px;">
                <i class="fas fa-lock" style="cursor:pointer"></i>
            </div>
          </div>
        </div>
      </div>
      <div id="player_connect_screen" style="display:none;" class="game_screen">
        <h1>Type in your username and room code</h1>        
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="username-label">Username</span>
          </div>
          <input id="player_username" class="form-control" type="text" placeholder="Username" aria-label="Username" aria-describedby="username-label" />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="room-code-label">Room Code</span>
          </div>
          <input id="join_room_code" class="form-control" type="text" placeholder="Room Code" aria-label="Room Code" aria-describedby="room-code-label" />
        </div>        
        <input id="join_game" class="btn btn-lg btn-primary" type="button" value="Join" />
      </div>
      <div id="player_game_screen" style="display:none;" class="game_screen">
        <h1>Sucky trivia</h1>
        <div id="question_posed"></div>
        <input id="answer_input" class="form-control" type="text" placeholder="Type your answers here." />
        <input id="lock_answer" class="btn btn-lg btn-primary" type="button" value="Lock in Answer" />
      </div>
      <div id="right_column" class="col-sm-3 text-center"></div>
    </div>
  </div>
</div>


<script src="/static/main.js"></script>
</body>
</html>
